/* Universal Styles */
* {
    padding: 0;
    margin: 0;
}
/* /Universal Styles */

/* Navigation Bar Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h3,
nav li {
    display: inline-flex;
    padding: 0 5px 0 5px;
}
/* /Navigation Bar Styles */

/* Main Section Styles */

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
}

main div {
    padding: 5%;
}

/* /Main Section Styles */